
@use '../../scss/abstracts/' as *;

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    gap: 15px;
    padding: 10px;

    div{
        width: 500px;
        height: 300px;
        overflow-y: hidden;
        border-radius: 15px;
        img{
            width: 100%;
            height: auto;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }


}

@media (min-width: 1000px) {
    .container{
        gap: 50px;
        padding: 50px;
    }
}