$color-primary-100: #789ef1;
$color-primary-500: #2563EB;
$color-primary-700: rgba(71, 127, 247, 0.376);
$color-primary-800: #25375E;
$color-backgroud: #17181C;
$color-glassmorphism-05: rgba(255,255,255,0.5);
$color-glassmorphism-04: rgba(255,255,255,0.4);
$color-glassmorphism-02: rgba(255,255,255,0.2);
$color-glassmorphism-01: rgba(255,255,255,0.1);
$color-glassmorphism-b-01: rgba(0,0,0,0.7);
$color-grey-50: #0A0C0D;
$color-grey-100: #191C1F;
$color-grey-200: #212529;
$color-grey-300: #343A40;
$color-grey-400: #495057;
$color-grey-500: #868E96;
$color-grey-600: #ADB5BD;
$color-grey-700: #CED4DA;
$color-grey-800: #DEE2E6;
$color-grey-900: #EDF2FF;
$color-grey-1000: #F8F9FA;
$color-grey-1100: #F6F4F1;

