@use "../../scss/abstracts/" as *;

.container{
    width: 100%;
    height: 13vh;
    overflow-y: hidden;
    border-bottom: 1px solid $color-glassmorphism-05;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;

}