@use "../../scss/abstracts/" as *;

.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    h1{
        @include text-style-mainTitle;
        color: $color-grey-900;
        span{
            @include text-style-mainTitle;
            color: $color-primary-500;
        }
    }

    h6{
        @include text-style-paragraph-2;
        color: $color-grey-500;
    }

}

@media (min-width: 700px) {
    .container{
        h1{
            font-size: 4rem;
            span{
                font-size: 4rem;

            }
        }
    }
}